<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 把这个xml文件变成UserInfoMapper的实现类 -->
<mapper namespace="Nillouise.mapper.TaskMapper">
    <select id="list" resultType="Nillouise.model.Task">
        select * from task where userid = #{userid} and block=0 order by id desc limit #{begin},#{end}
    </select>
    <select id="listdel" resultType="Nillouise.model.Task">
        select * from task where userid = #{userid} order by id desc limit #{begin},#{end}
    </select>
    <!--useGeneratedKeys="true" keyProperty="id" 这两个字段设置了mybatis会把主键注入到传入参数的对应字段 -->
    <insert id="add" parameterType="Nillouise.model.Task" useGeneratedKeys="true" keyProperty="id">
        insert into task ( userid,costmindenergy,title,content) values (#{userid},#{costmindenergy},#{title},#{content})
    </insert>
    <update id="update" parameterType="Nillouise.model.Task">
        update task set userid=#{userid},costmindenergy=#{costmindenergy},title=#{title},content=#{content},block=#{block} where id=#{id}
    </update>

    <select id="select" resultType="Nillouise.model.Task">
        select * from task where id = #{taskid}
    </select>

</mapper>