<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 把这个xml文件变成UserInfoMapper的实现类 -->
<mapper namespace="Nillouise.mapper.UserInfoMapper">
    <!--<insert id="add" parameterType="UserInfo" >-->
        <!--insert into userinfo ( username,password ) values (#{username},#{password})-->
    <!--</insert>-->

    <!--<delete id="delete" parameterType="UserInfo" >-->
        <!--delete from userinfo where id= #{id}-->
    <!--</delete>-->


    <!--<select id="get" parameterType="_int" resultType="UserInfo">-->
        <!--select * from userinfo  where id= #{id}-->
    <!--</select>-->

    <!--<select id="get" parameterType="String" resultType="UserInfo">-->
        <!--select * from   userinfo  where id= #{id}-->
    <!--</select>-->

    <!--<update id="update" parameterType="UserInfo" >-->
        <!--update userinfo set name=#{username} where id=#{id}-->
    <!--</update>-->


    <!--handnote-->
    <!-- 注意这里是导入类型，可能是命名空间的问题,单纯用mybatis时，根本不用导入这个语句（同时后面也不需要用resultMap，而是用resultType) -->
    <!--<resultMap id="BaseResultMap" type="Nillouise.model.UserInfo">-->
    <!--</resultMap>-->
    <!--&lt;!&ndash; 注意这里使用导入类型BaseResultMap，要用的是resultMap &ndash;&gt;-->
    <!--<select id="list" resultMap="BaseResultMap">-->
        <!--select * from userinfo-->
    <!--</select>-->

    <select id="list" resultType="Nillouise.model.UserInfo">
        select * from userinfo
    </select>
    <insert id="add" parameterType="UserInfo" >
    insert into userinfo ( username,password ) values (#{username},#{password})
    </insert>



</mapper>